@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Lato&family=Pacifico&family=VT323&display=swap');
.body{
    background-color: #131212;
    text-decoration: none;
    color: white;
    /*background-image: url('mleko xd.png');*/
    background-repeat: no-repeat;
    background-attachment:scroll; 
    background-size: 100% 1000px;
    font-family: 'Lato',sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background:#222121
}
::-webkit-scrollbar-thumb:hover{
    background:white
}
::-webkit-scrollbar-track{
    background:#131212;
}

header{
    margin-right: 5px;
    padding: 0;
    
}
#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
    background-color: rgb(24, 24, 24);
  }

.topnav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.topnav ul{
    list-style: none;
}
.topnav ul li{
    display: inline-block;
    width: auto ;
    float: right;
}
.topnav ul li, a{
    padding: 5px;
    text-decoration: none;
}
.button {
    background-color: #00000000;
    border: 3px solid white;
    width: 130px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
    color: white;
    transition: opacity 100ms linear;
  }
.button:hover{
      background-color: rgb(255, 255, 255);
      color: #000000;
  }
 .buttonmenu {
    background-color: #ffffff00;
    width: 40px;
    height: 40px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
    color: white;
    border: 3px solid rgba(82, 80, 80, 0);
    border-radius: 100%;
    transition: opacity 100ms linear;
    
}
.buttonmenu:hover{
    background-color: rgba(255, 255, 255, 0);
    color: #e5ff00;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 100%;
  }
.logo {
    font-family: 'Bungee Shade', cursive;
    float: left;
    padding-left:20px ;
    color: white;
    font-size: 50px;
}

.sideMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(10, 10, 10);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 350px;
    text-align: center;
  }
  
  .sideMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 40px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
.sideMenu a:hover {
    color: #b6ad5e;
  }
  
.sideMenu .closeBTN {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  /*rensponsibility*/
  @media screen and (max-height: 450px) {
    .sideMenu {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.h2Text{
    font-size: 50px;
    color: white;
    text-align: center;
}
.h2{
padding-top: 400px;
text-align: center;
font-size: 40px;
}
.tablePhoto{
width: 612px;
height: 310px;
}

.textOnPicture{
    position:absolute ;
    padding-top: 140px;
    padding-left: 220px;
    color: rgb(255, 255, 255);
    overflow-y: 1;
}
.PortfolioTable {
    border-collapse: collapse;
    border: none;
    color: white;
   margin: 10px;
}
#portfolio{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 50pxpx;
    transition: 100ms linear;
    color: rgb(255, 255, 255);
}
.game_button{
height: 700px;
width: 1300px;
margin-left: 20px;
margin-right:20px;
background-color: rgb(110, 110, 110);
background-image: url("goldBar.png");
background-attachment: scroll;
background-repeat: no-repeat;
background-size: 1300px 700px ;
}
.programs_contaner ol{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    list-style-type: style;
}
.programs_contaner ol li{
    width: auto ;
margin: 40px 10px;
}
.programs_contaner ol li a{
    text-decoration: none;
}
.program_button{
    background: transparent;
    border: none;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.63);
    font-weight: 400;
}
.program_button:hover{
color: white;
font-weight: 500;
text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.downArrow{
    margin: 0;
    padding: 0;
}
.marqueeText{
    padding-top: 20px;
    padding: 10px;
}
.counterBox_L{
    border: rgb(255, 255, 255) solid 5px;
    border-radius: 150px 30px 150px 30px;
    width: 800px;
    height: 120px;
    float: left;
    text-align: right;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: 800;
}
.counterBox_R{
    border: rgb(255, 255, 255) solid 7px;
    border-radius: 30px 150px 30px 150px;
    width: 850px;
    height: 120px;
    float: right;
    text-align: left;
    padding: 20px;
    margin: 30px;
    font-weight: 800;
    color: #ffffff;
}

.IMG{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0); 
    cursor: pointer; 
    border-radius: 10px;
    padding-right: 10px;
  }
  
 #myBtn:hover {
    background-color: #555; 
    color: white;
  }

.contactMenu{
    height: 820px;
    background-image: url('goldBAR2.png');
    border: rgb(0, 0, 0) 2px;
    width:100% auto
  }

.aboutMe{
    height: 150px;
    width: 100%;
    padding: 20px;
}
.aboutMe_button{
    color: rgb(0, 0, 0);
    font-size: 32px;
    margin: 40px;
    border: white solid 2px;
    background-color: white;
    height: 50px;
    width: 100%;
    text-align: center;
    margin-right: 1px;
    margin-left: 1px;
    margin-top: 30px;
    transition: 0.5s;
}
.aboutMe_text{
height: 1000px;
width: 100%;
margin:20px 200px ;
background-color: rgb(40, 201, 255);
border-radius: 250px 50px 250px 50px;
border: rgb(255, 255, 255) solid 10px;
}
.aboutMe_text2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
    color: black;
    margin: 150px;
    text-align: center;
}
.aboutMe_Menu {
    height: 310px;
    left: 20px;
    width: 99%;
    display: block;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    color: black;
    overflow-y: block;
    
    padding-top: 0px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    transition: 0.5s;
    overflow-y:hidden;
  }
  
  .aboutMe_Menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 40px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  .aboutMe_Menu a:hover {
    color: #cc4141;
    /*color: #b6ad5e;*/
  }
  
  .aboutMe_Menu .closeBTN2 {
    position:relative;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.ovelay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.075);
    margin-right: 100px;
}
.textInContactMenu{
    border: 5px rgba(255, 255, 255, 0) solid;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    margin: 100px;
    height: 600px;
    width: 700px;
    position: absolute;
    overflow-y: 1;
    background-color: rgba(255, 255, 255, 0);
}

.contactMenu_list ul{
    list-style: none;
}
.contactMenu_list ul,li{
    display: inline-block;
    width: auto ;
    float: right;
}
.contactMenu_list ul,li,a{
    text-decoration: none;
}

.contactMenu form{
    max-width: 800px;
    width: 90%;
    background: #ffffff00;
    margin: 50px auto 0 auto;
    padding: 40px;
    border-radius: 3px;
    box-sizing: border-box;
    float: right;
    margin-right: 100px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.contactMenu h1{
    margin:0;
    text-align: left;
    font-size: 50px;
}
.contactMenu label {
    display: block;
    margin: 10px;
}
.contactMenu input,textarea{
    width:  100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom:  5px solid rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.767);
    font-size: 16px;
    font-weight: 500;
}
.contactMenu input[type="text"]:focus, textarea:focus{
    border-bottom: 5px solid rgb(0, 255, 191) ;
}
.center{
    text-align: center;
}
.contactMenu input[type="submit"]{
    margin-top: 30px;
    width:90%;
    max-width: 500px;
    color: rgb(0, 0, 0);
    font-weight: 800;
    cursor: pointer;
    border-radius: 3px;
}
.error{
    color: red;
}
.error-border{
    border-bottom: 3px solid royalblue;
}
#success{
    color: greenyellow;
}
.downNavBar {
background-color: black;
height: 250px;
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: stretch;
align-content: space-between;
}
.downNavBar_text{
    font-family:'Gill Sans', sans-serif;
    text-align: center;
    padding-left:20px ;
    color: rgb(110, 110, 110);
    font-size: 20px;
    font-weight: 100;
}
.downLogo{
    font-family: 'Bungee Shade', cursive;
    float: left;
    padding-left:20px ;
    color: white;
    font-size: 80px;
}
